# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Create a markdown cell to list data science libraries
- Create a markdown cell with a table of Data Science tools
- Create a markdown cell introducing arithmetic expression examples

## Author
Deepa

Some of the popular languages that Data Scientists use are:

1. R
2. SQL
3. Python
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Keras
3. NumPy
4. PyTorch


| Data Science Tools | 
| ------|
| Apache Spark | 
| RStudio|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [13]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [15]:
200/60

3.3333333333333335